<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iti.aurora">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora">

        <activity
            android:name=".medicinedetails.view.MedicineDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".addmedicine.view.AddMedicineActivity"
            android:exported="false"
            android:label="@string/title_activity_main_home" />

        <activity
            android:name=".editmeds.view.EditMedsActivity"
            android:exported="true" />


        <activity android:name=".MainActivity" />

        <activity android:name=".mainactivity.healthtaker.UserMedsActivity" />

        <activity android:name=".intro.IntroActivity" />
        <activity android:name=".usersystem.signup.view.SignUpActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.workmanager.NotifierAlarm" />


    </application>

</manifest>